
.background_main {
-fx-background-color: #2e3348;
}
.background_face {
    -fx-background-color: #fafafa;
}
.button_color {
    -fx-background-radius: 5px;
    -fx-background-color: #e39c63;
}
.text-field{
    -fx-background-radius: 5px;
    -fx-font-size: 20px;
    -fx-font-family: "Yu Gothic UI Semibold";
    -fx-background-color: lightgoldenrodyellow;
    -fx-border-color: #e39c63;
    -fx-border-radius: 5px;

}
.button_open{
    -fx-font-size: 25px;
}
.password-field{
    -fx-font-size: 20px;
    -fx-text-security: 10px;
}
